/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 414px;

  font-size: 1rem;
  line-height: 1.5rem;
}

.nav-start {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h1 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.box-titel {
  margin: 30px 0px;
}

h2 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

p {
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

a {
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  font-family: "Libre Franklin", sans-serif;
}

.margin {
  margin: 9px;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

.to-the-picture {
  margin: 54px 9px;
}

.center {
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  margin: 20px;
  font-size: 12px;
  font-weight: 400;
  text-decoration-line: underline;
}

footer {
  background: #000;
  color: #fff;
  padding: 9px;
  padding: 20px;
}

footer p,
footer a {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
}

.architectes {
  line-height: 1px;
}

.sources {
  line-height: 1px;
}

/* ====================================
// base rules
// ==================================== */
